<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <appSettings>
    <add key="SAPEndpoint" value="http://localhost:50682/"/>
    <add key="ImageStoragePath" value="~/Content/uploads" />
    <add key="ProfileImagePath" value="~/Content/uploads" />
    <add key="FromEmail" value="admin@grintsys.com" />
    <add key="SendGrindApiKey" value="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"/>
    <!--<add key="SendGripAPIKey" value="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" />-->
    <add key="FromEmailDisplayName" value="M2 Notification" />
    <add key="ToEmail" value="sergio.peralta@grintsys.com,gabriela.orellana@kattangroup.com,jisell.herrera@kattangroup.com" />
  </appSettings>
</configuration>
