<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <appSettings>
    <add key="SAPOrderEndpoint" value="https://localhost:44352/api/Orders"/>
    <add key="SAPPaymentEndpoint" value="https://localhost:44352/api/Payments"/>
    <add key="server" value="172.20.11.13" />
    <add key="licenseServer" value="172.20.11.13:30000" />
    <add key="dbuser" value="sa" />
    <add key="dbpassword" value="Pinac45" />
    <add key="companydb" value="SBO_VH_Pruebas" />
    <add key="companydbGT" value="SBO_KGT_Pruebas" />
    <add key="user" value="manager" />
    <add key="password" value="ti$vh@" />
    <add key="ImageStoragePath" value="~/Content/uploads" />
    <add key="ProfileImagePath" value="~/Content/uploads" />
    <add key="FromEmail" value="admin@grintsys.com" />
    <add key="SendGrindApiKey" value="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"/>
    <!--<add key="SendGripAPIKey" value="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" />-->
    <add key="FromEmailDisplayName" value="M2 Notification" />
    <add key="ToEmail" value="sergio.peralta@grintsys.com,gabriela.orellana@kattangroup.com,jisell.herrera@kattangroup.com" />
  </appSettings>
</configuration>
